---
import ProdLayout from "../../layouts/ProdLayout.astro";
---

<ProdLayout title="Footer Demo - Astro Brand Starter">
  <section class="page-sec">
    <div class="container">
      <div class="sec">
        <div class="sec__content" style="text-align: center; padding: 80px 0;">
          <h1>Footer Component</h1>
          <p class="body-1">Scroll down to see the footer in action.</p>
          <p class="body-2">The footer is now included in all pages via the ProdLayout component.</p>
          
          <div style="margin-top: 40px;">
            <a href="/prod/design-system" class="btn btn--primary">Back to Design System</a>
            <a href="/" class="btn btn--secondary" style="margin-left: 16px;">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</ProdLayout>
