---
const { variant } = Astro.props;
---

<nav class="main-nav">
  <div class="container--nav">
    <div class="main-nav__inner">
      
      <!-- Logo -->
      <a href="/" class="main-nav__logo">
        <!-- <svg class="main-nav__logo-icon" width="29" height="21" viewBox="0 0 29 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.1382 11.4138L10.7941 18.8537L6.45007 11.4138H15.1382ZM16.3019 10.7488H5.28162L10.7941 20.1697L16.3019 10.7488Z" fill="#263238"/>
          <path d="M22.6909 2.16017L27.0349 9.60013H18.3468L22.6909 2.16017ZM22.6909 0.830276L17.1783 10.2511H28.2034L22.6909 0.830276Z" fill="#263238"/>
          <path d="M0 0.830276L4.62205 9.16305L9.67283 1.03951L0 0.830276Z" fill="#4CAF4F"/>
          <path d="M10.7943 1.56024L15.6425 9.84651H5.93665L10.7943 1.56024Z" fill="#4CAF4F"/>
          <path d="M16.891 11.6556L21.7439 20.1697H11.8073L16.7402 11.6556H16.891Z" fill="#4CAF4F"/>
          <path d="M17.9417 11.1394L22.6909 19.5233L27.5061 11.1394H17.9417Z" fill="#4CAF4F"/>
        </svg>
        <svg class="main-nav__logo-text" width="91" height="17" viewBox="0 0 91 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.375 0.175201V16.5844H11.3784L4.23942 6.25655H4.11924V16.5844H0.649902V0.175201H3.69458L10.7775 10.4951H10.9217V0.175201H14.375Z" fill="#263238"/>
          <path d="M22.7859 16.8248C21.52 16.8248 20.4303 16.5684 19.5169 16.0556C18.6089 15.5375 17.9091 14.8057 17.4177 13.8602C16.9263 12.9094 16.6806 11.7851 16.6806 10.4871C16.6806 9.22111 16.9263 8.11007 17.4177 7.15393C17.9091 6.1978 18.6008 5.45265 19.4929 4.91849C20.3903 4.38434 21.4425 4.11726 22.6497 4.11726C23.4616 4.11726 24.2175 4.24813 24.9172 4.50987C25.6223 4.76626 26.2366 5.15352 26.7601 5.67165C27.2889 6.18978 27.7002 6.84145 27.9939 7.62666C28.2877 8.40652 28.4346 9.31993 28.4346 10.3669V11.3043H18.0426V9.18906H25.2217C25.2217 8.69764 25.1149 8.2623 24.9012 7.88305C24.6875 7.5038 24.3911 7.20735 24.0118 6.99369C23.6379 6.77468 23.2026 6.66518 22.7058 6.66518C22.1877 6.66518 21.7283 6.78537 21.3277 7.02573C20.9324 7.26076 20.6226 7.57858 20.3983 7.9792C20.1739 8.37448 20.0591 8.81515 20.0537 9.30123V11.3123C20.0537 11.9213 20.1659 12.4474 20.3903 12.8908C20.6199 13.3341 20.9431 13.676 21.3597 13.9163C21.7764 14.1567 22.2705 14.2769 22.842 14.2769C23.2213 14.2769 23.5685 14.2235 23.8836 14.1166C24.1988 14.0098 24.4685 13.8496 24.6929 13.6359C24.9172 13.4222 25.0881 13.1605 25.2057 12.8507L28.3625 13.059C28.2023 13.8175 27.8738 14.4799 27.377 15.0461C26.8856 15.6069 26.2499 16.0449 25.4701 16.3601C24.6955 16.6699 23.8008 16.8248 22.7859 16.8248Z" fill="#263238"/>
          <path d="M33.2941 4.27751L35.5536 8.58012L37.8691 4.27751H41.3705L37.805 10.431L41.4667 16.5844H37.9813L35.5536 12.3299L33.1659 16.5844H29.6405L33.2941 10.431L29.7687 4.27751H33.2941Z" fill="#263238"/>
          <path d="M48.5175 16.8248C47.2569 16.8248 46.1726 16.5577 45.2645 16.0236C44.3618 15.4841 43.6674 14.7363 43.1813 13.7801C42.7006 12.824 42.4602 11.7236 42.4602 10.479C42.4602 9.21844 42.7032 8.11274 43.1893 7.16194C43.6807 6.20581 44.3778 5.46066 45.2805 4.92651C46.1833 4.38701 47.2569 4.11726 48.5015 4.11726C49.5751 4.11726 50.5152 4.31223 51.3218 4.70216C52.1284 5.09209 52.7667 5.6396 53.2368 6.34469C53.7068 7.04977 53.9659 7.87771 54.014 8.82851H50.793C50.7022 8.21423 50.4618 7.72014 50.0719 7.34623C49.6873 6.96698 49.1825 6.77735 48.5576 6.77735C48.0288 6.77735 47.5667 6.92157 47.1714 7.21002C46.7815 7.49312 46.477 7.90709 46.258 8.45193C46.039 8.99677 45.9295 9.65645 45.9295 10.431C45.9295 11.2162 46.0364 11.8839 46.25 12.4341C46.469 12.9842 46.7762 13.4035 47.1714 13.692C47.5667 13.9804 48.0288 14.1247 48.5576 14.1247C48.9475 14.1247 49.2974 14.0445 49.6072 13.8843C49.9223 13.724 50.1814 13.4917 50.3844 13.1872C50.5927 12.8774 50.7289 12.5062 50.793 12.0735H54.014C53.9605 13.0136 53.7042 13.8415 53.2448 14.5573C52.7907 15.2677 52.1631 15.8233 51.3619 16.2239C50.5606 16.6245 49.6125 16.8248 48.5175 16.8248Z" fill="#263238"/>
          <path d="M61.8079 16.8248C60.542 16.8248 59.4523 16.5684 58.5389 16.0556C57.6309 15.5375 56.9311 14.8057 56.4397 13.8602C55.9483 12.9094 55.7025 11.7851 55.7025 10.4871C55.7025 9.22111 55.9483 8.11007 56.4397 7.15393C56.9311 6.1978 57.6228 5.45265 58.5149 4.91849C59.4123 4.38434 60.4645 4.11726 61.6717 4.11726C62.4837 4.11726 63.2395 4.24813 63.9392 4.50987C64.6443 4.76626 65.2586 5.15352 65.7821 5.67165C66.3109 6.18978 66.7222 6.84145 67.016 7.62666C67.3097 8.40652 67.4566 9.31993 67.4566 10.3669V11.3043H57.0646V9.18906H64.2437C64.2437 8.69764 64.1369 8.2623 63.9232 7.88305C63.7095 7.5038 63.4131 7.20735 63.0338 6.99369C62.6599 6.77468 62.2246 6.66518 61.7278 6.66518C61.2097 6.66518 60.7503 6.78537 60.3497 7.02573C59.9544 7.26076 59.6446 7.57858 59.4203 7.9792C59.1959 8.37448 59.0811 8.81515 59.0757 9.30123V11.3123C59.0757 11.9213 59.1879 12.4474 59.4123 12.8908C59.6419 13.3341 59.9651 13.676 60.3817 13.9163C60.7984 14.1567 61.2925 14.2769 61.864 14.2769C62.2433 14.2769 62.5905 14.2235 62.9056 14.1166C63.2208 14.0098 63.4905 13.8496 63.7149 13.6359C63.9392 13.4222 64.1101 13.1605 64.2277 12.8507L67.3845 13.059C67.2243 13.8175 66.8958 14.4799 66.399 15.0461C65.9076 15.6069 65.2719 16.0449 64.4921 16.3601C63.7175 16.6699 62.8228 16.8248 61.8079 16.8248Z" fill="#263238"/>
          <path d="M73.0973 9.46949V16.5844H69.6841V4.27751H72.9371V6.44885H73.0813C73.3537 5.73308 73.8104 5.16688 74.4514 4.75024C75.0924 4.32825 75.8696 4.11726 76.783 4.11726C77.6376 4.11726 78.3828 4.30422 79.0184 4.67813C79.6541 5.05203 80.1481 5.58619 80.5007 6.28059C80.8532 6.96965 81.0295 7.79225 81.0295 8.74838V16.5844H77.6162V9.35732C77.6216 8.60416 77.4293 8.01659 77.0394 7.59461C76.6494 7.16729 76.1126 6.95362 75.4289 6.95362C74.9695 6.95362 74.5636 7.05244 74.211 7.25008C73.8638 7.44772 73.5914 7.73616 73.3938 8.11541C73.2015 8.48932 73.1026 8.94068 73.0973 9.46949Z" fill="#263238"/>
          <path d="M90.2657 4.27751V6.84145H82.8543V4.27751H90.2657ZM84.5369 1.32898H87.9501V12.8026C87.9501 13.1178 87.9982 13.3635 88.0944 13.5398C88.1905 13.7107 88.3241 13.8309 88.495 13.9003C88.6712 13.9697 88.8742 14.0045 89.1039 14.0045C89.2642 14.0045 89.4244 13.9911 89.5847 13.9644C89.7449 13.9324 89.8678 13.9083 89.9532 13.8923L90.49 16.4322C90.3191 16.4856 90.0787 16.547 89.7689 16.6165C89.4591 16.6913 89.0826 16.7367 88.6392 16.7527C87.8166 16.7847 87.0955 16.6752 86.4759 16.4242C85.8616 16.1731 85.3835 15.7832 85.0417 15.2544C84.6998 14.7256 84.5315 14.0579 84.5369 13.2513V1.32898Z" fill="#263238"/>
        </svg> -->
        <img src="/images/Logo.png" alt="Nexcent" class="main-nav__logo-icon">
      </a>

      <!-- Desktop Navigation Menu -->
      <ul class="main-nav__menu">
        <li><a href="#home" class="main-nav__link main-nav__link--active">Home</a></li>
        <li><a href="#service" class="main-nav__link">Service</a></li>
        <li><a href="#feature" class="main-nav__link">Feature</a></li>
        <li><a href="#product" class="main-nav__link">Product</a></li>
        <li><a href="#testimonial" class="main-nav__link">Testimonial</a></li>
        <li><a href="#faq" class="main-nav__link">FAQ</a></li>
      </ul>

      <!-- Desktop Actions -->
      <div class="main-nav__actions">
        <a href="#login" class="main-nav__btn main-nav__btn--secondary">Login</a>
        <a href="#signup" class="btn btn--primary">Sign up</a>
      </div>

      <!-- Mobile Menu Toggle -->
      <button class="main-nav__toggle" aria-label="Toggle menu" aria-expanded="false">
        <span class="main-nav__toggle-line"></span>
        <span class="main-nav__toggle-line"></span>
        <span class="main-nav__toggle-line"></span>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div class="main-nav__mobile-menu">
    <div class="container--nav">
      <ul class="main-nav__mobile-list">
        <li><a href="#home" class="main-nav__mobile-link">Home</a></li>
        <li><a href="#service" class="main-nav__mobile-link">Service</a></li>
        <li><a href="#feature" class="main-nav__mobile-link">Feature</a></li>
        <li><a href="#product" class="main-nav__mobile-link">Product</a></li>
        <li><a href="#testimonial" class="main-nav__mobile-link">Testimonial</a></li>
        <li><a href="#faq" class="main-nav__mobile-link">FAQ</a></li>
      </ul>
      <div class="main-nav__mobile-actions">
        <a href="#login" class="main-nav__btn main-nav__btn--secondary">Login</a>
        <a href="#signup" class="btn btn--primary">Sign up</a>
      </div>
    </div>
  </div>
</nav>
